* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

:root {
    --background-color: #f5f5f5;
    --white: #fff;
    --main-font: 'Roboto', sans-serif;
    --border-color: #e0e0e0;
    --input-min-width: 270px;
    --main-bg-color: #f5f5f5;
}

.light {
    background-color: var(--background-color);
    --input-background: #FFFFFF;
    --input-border: #A0A0A0;
    --input-text: #3f3f3f;
    --input-placeholder: #A0A0A0;
    --input-focus: #007AFF;
    --input-error: #FF3B30;
    --box-background-color: #c0c0c0;
}

.dark {
    background-color: #3A1078;
    color: #fff;
    --input-background: #4E31AA;
    --input-border: #A0A0A0;
    --input-text: #FFFFFF;
    --input-placeholder: #A0A0A0;
    --input-focus: #1A73E8;
    --input-error: #FF3B30;
    --box-background-color: #4E31AA;
}

.header {
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--box-background-color);
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    margin-top: 0;
    height: 50px;
    top: 0;
}

main {
    position: absolute;
    display: inline-block;
    width: 60%;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

main>* {
    display: inline-flex;
    padding: 10px;
    border: solid 1px var(--border-color);
    border-radius: 5px !important;
    margin: 3px;
    vertical-align: middle;
    min-height: 60px;
    text-align: center;
    align-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    main {
        width: 100%;
        top: 110px;
    }
}


select {
    border: 1px solid var(--input-border);
    border-radius: 5px;
    padding: 5px;
    font-size: 1.5em;
    color: var(--input-text);
    background-color: var(--input-background);
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    margin-left: 5px;
    margin-right: 5px;
    min-width: var(--input-min-width);
}

select:focus {
    outline: none;
    border-color: var(--input-focus);
    box-shadow: 0 0 0 2px var(--input-focus);
}

select.error {
    border-color: var(--input-error);
}

select::placeholder {
    color: var(--input-placeholder);
}

select>option {
    color: var(--input-text);
}

select>option:hover {
    background-color: var(--input-focus);
}

select>option:active {
    background-color: var(--input-focus);
}

select>option:focus {
    background-color: var(--input-focus);
}

select>option:disabled {
    background-color: var(--input-background);
}

select>option:disabled:hover {
    background-color: var(--input-background);
}

select>option:disabled:active {
    background-color: var(--input-background);
}

select>option:disabled:focus {
    background-color: var(--input-background);
}

.inline {
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
}

@media screen and (max-width: 700px) {
    .inline {
        flex-direction: column !important;
    }
}

.header>.theme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header>.theme>div {
    margin: 0 10px;
}

input {
    border: 1px solid var(--input-border);
    border-radius: 5px;
    padding: 5px;
    font-size: 1.5em;
    color: var(--input-text);
    background-color: var(--input-background);
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    min-width: var(--input-min-width);
}

input::placeholder {
    color: var(--input-placeholder);
}

input.error {
    border-color: var(--input-error);
}

input:focus {
    outline: none;
    border-color: var(--input-focus);
    box-shadow: 0 0 0 2px var(--input-focus);
}

.switch-old {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-old input {
    display: none;
}

.switch-old label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
    margin: 0 !important;
}

.switch-old label::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    border-radius: 50%;
    transition: transform 0.4s ease-in-out;
}

.switch-old input:checked+label {
    background-color: #2ecc71;
}

.switch-old input:checked+label::before {
    transform: translateX(26px);
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--background-color);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

input[type="radio"]:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--white);
    border-radius: 50%;
    top: 5px;
    left: 5px;
    transition: 0.5s;
    opacity: 0;
}

input[type="radio"]:checked:before {
    opacity: 1;
}

input[type="radio"]:checked {
    background: #4caf50;
}

input[type="range"] {
    width: 100%;
    height: 5px;
    background: var(--background-color);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-ms-thumb,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track,
input[type="range"]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation-duration: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #3071a9;
    border-radius: 25px;
    border: 0px solid #000000;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: fit-content;
}

.input-box label {
    margin-bottom: 5px;
}

.input-box.line-box label {
    margin-right: 5px;
}

button {
    min-height: fit-content !important;
    padding: 10px !important;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

button.accept {
    background-color: #2ecc71;
    color: #fff;
}

button.reject {
    background-color: #e74c3c;
    color: #fff;
}

button.accept:not(:disabled):hover,
button.reject:not(:disabled):hover {
    opacity: 0.8;
}

button.accept:focus,
button.reject:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px #3498db;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button.accept:not(:disabled):hover {
    background-color: #27ae60;
}

button.reject:not(:disabled):hover {
    background-color: #c0392b;
}

.light button.accept:focus,
.light button.reject:focus {
    box-shadow: 0px 0px 0px 2px #BBDEFB;
}

.dark button.accept:focus,
.dark button.reject:focus {
    box-shadow: 0px 0px 0px 2px #5DADE2;
}

.box,
.box>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > .box>div {
    border: none !important;
}

.box {
    width: 100%;
    height: 100%;
    color: var(--text-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

.box:not(.sub)>div {
    max-width: 750px;
    min-width: 350px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.box:not(.sub)>div>.box-header,
.box:not(.sub)>div>.box-content,
.box:not(.sub)>div>.box-footer {
    padding: 10px;
}

.box>div>.box-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box>div>.box-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.box>div>.box-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.model {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px;
    background-color: var(--box-background-color);
    padding: 5px;
    border-radius: 5px;
    max-width: 750px;
    min-width: 350px;
}

.model-overlay {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.model-overlay.active {
    display: flex;
}

.model>.model-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.model>.model-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.model>.model-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

td {
    text-align: center;
}

table {
    display: inline-table;
    border-collapse: collapse;
    border-spacing: 0 1em;
    width: 100%;
    min-width: 350px;
}

table>thead>tr>th {
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
}

table>tbody>tr>td {
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--box-background-color);
    min-width: 100px;
}

@media screen and (max-width: 512px) {
    table>tbody>tr>td {
        min-width: fit-content;
    }
    table{
        min-width: fit-content;
    }
}

.stack {
    display: inline-flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px;
    background-color: var(--box-background-color);
    padding: 5px;
    border-radius: 5px;
    max-width: 750px;
    min-width: 350px;
}

.stack>* {
    margin: 5px;
}

.stack.stack-horizontal {
    flex-direction: row !important;
}

.stack.auto-size {
    width: fit-content;
    height: fit-content;
    min-width: fit-content;
}